{% extends 'base.html.twig' %}

{% block title %}Edit Cannaux{% endblock %}

{% block body %}
    <h1>Edit Cannaux</h1>

    {{ include('cannaux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cannaux_index') }}" class="btn btn-primary">back to list</a>

    {{ include('cannaux/_delete_form.html.twig') }}
{% endblock %}
